@import url(./_reset.css);
@import url(./_base.css);
@import url(./_typography.css);
/* 
* Add your own CSS code below... 
*/

/*Phone display: 0-480 px*/
/*nav-bar*/
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

}
.logo, .nav-btn, .join, .nav-btn-line{
    flex-basis:100vw;
    padding: 1rem;
    text-align: center;
}
.nav-btn{
    order: -2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.nav-btn__icon{
    display: none;
}
.nav-btn-line{
    order:-1;
    border-top: 1px solid gray;
    padding: 0;
}
.join{
    display: none;
}
.log__img{
    border-radius: 50%;
}
.nav-btn__icon{
    width: 2.5rem;
}
.nav-btn__text{
    display: inline;
}

/*main-content*/
.main-content{
    display: flex;
    flex-wrap: wrap;
}
.main-up, .email, .articles{
    flex-basis: 100vw;
}
.main-up__nav{
    display: none;
}
.email-form{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}
.email-form__icon-div, .email-form__text, .email-form__input, .email-form__btn{
   margin: 1rem; 
}
.email-form__icon-div{
    flex-basis: calc(20% - 2rem);
}
.email-form__text{
    flex-basis: calc(80% - 2rem);
    color: gray;
    font-size: 1.5rem;
    line-height: 1.8;
}
.email-form__input{
    flex-basis: calc(75% - 2rem);
    padding: 1rem 0 ;
}
.email-form__btn{
    flex-basis: calc(25% - 2rem);
    padding: 1rem 0;
}
.email{
    padding: 3rem;
}
.email-form__icon-img{
    width: 5rem;
    opacity: 0.5;
}
.main-up__img{
    width: 100%;
}
/*articles*/
.articles{
    display: flex;
    flex-wrap: wrap;
}
.article{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4rem;
}
.article__img, .article__title, .article__text{
    flex-basis: 100%;
    padding: 2rem;
}

.article__title{
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}

.email-form__icon{
    width: 4rem;
}
.icon-social{
    width: 2.5rem;
}
.main-up__img{
    width: 100%;
}
.article__img{
    max-width: 300px;
}

/*contact*/

.details{
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: 1rem;
}
.details__icons{
    flex-basis: 30%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap:1rem;
}

/* media queries - 480px-767px*/
@media all and (min-width: 480px) {
    /*nav-bar*/
    .nav-btn-line{
        display: none;
    }
    .nav-bar{
        align-items:center;
        justify-content: space-between;
        max-width: 60rem;
        flex-wrap: nowrap;
        margin: auto;
    
    }
    .logo{
        flex-basis:20vw;
    }
    .nav-btn{
        flex-basis:70vw;
        order: 1;
        justify-content: flex-end;
        column-gap: 1rem;
    }

    /*main*/
    .email{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 60rem;
        margin: auto;
    }
    .dot-up, .dot-down, .email-form{
        flex-basis: 100%;
        padding: 0;
    }
    .main-up__img{
        max-width: 60rem;
    }
    .main-up{
        display: flex;
        justify-content: center;
    }
    /*articles*/
    .articles{
        max-width: 60rem;
        margin:auto;
    }
    .article{
        flex-basis: 50%;
        padding: 0;
    }
    .article__img{
        width: 100%;
        max-width: 30rem;
    }
    /*contact*/
    .contact{
        max-width: 60rem;
        margin: auto;
    }
  } /*end media 480px*/






